.head{
  padding: 15px;
    display: flex;
    justify-content: space-around;
    border: none;
    font-family: 'Montserrat', sans-serif;
 font-weight: 800;
}
.text{    border: none;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
font-weight: 800;
}
span{
  font-weight: 600;
}
body{
    margin: 0px;
}
header{ 
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;  
}
.search{
display: flex;
justify-content: space-between;
margin: 0px 40px 0px 40px;
padding-top: 30px;

}

#mode-toggle{
 background-color: white;
 border: none;
}
  .input-group {
    display: flex;
    margin-bottom: 15px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.6px 2.6px 2.6px;  
    height: 40px;

  }
  
  .input-group-prepend, .input-group-append {
    border: none;
    border: 2px white solid;
  }
  
  .input-group-text {  
    background-color: white;
    border: none;
    border: 2px white solid;
    height: 40px; 
  }
  
  .form-control {
    flex: 1;
    border: 2px white solid;
  }
  
  .filter{     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.6px 2.6px 2.6px;  

    width: 250px;
    height: 40px;
    padding: 7px;
    border-radius: 4px 4px 4px 4px;
    border: none;
  
  }

  body {
    background-color: white;
    color: black;
  }
  
body.dark-mode {
  background-color: #2b3945;

  color: #f5f5f5;
}

.head.dark-mode {
  background-color: #202c37;
  color: #f5f5f5;
}

.button.dark-mode a {
  color: #202c37;
}
#mode-toggle.dark-mode{
  background-color: #202c37;
  color: white;

}
.info-detail.dark-mode {
  background-color: #2b3945;
  color: #f5f5f5;
}

.info-detail.dark-mode p {
  color: #f5f5f5;
}

.sub-info.dark-mode p {
  color: #f5f5f5;
}
.dark-mode {
  background-color: #2b3945;
  color: #f2f2f2;
}

.dark-mode .form-control {
  background-color: #2b3945;
  color: #f2f2f2;
}

.dark-mode .filters {
  background-color: #2b3945;
  color: #f2f2f2;
}
.dark-mode #body {
  background-color: #2b3945;
  color: #fafafa;
}
.dark-mode a.grid-item {
  color: #fafafa;

}
.dark-mode #mode-toggle {
  background-color: #202c37;
  color: #fafafa;
}
.dark-mode .form-control {
  background-color: #202c37;
  border: 2px #202c37 solid;

  color: #fafafa;
}
.dark-mode .input-group-prepend{
  background-color: #202c37;
border: 2px #202c37 solid;
}
.dark-mode .input-group-text{ 
  color: white;
  background-color: #202c37;
border: 2px #202c37 solid;
}
    .grid-item{
      padding-top: 20px;
    }
    #country-grid { padding-top: 60px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    a.grid-item {
 text-decoration: none;
 color: black;
    }
    .grid-container {
      width: calc(26% - 10px);
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
    .country-name {
      font-weight: bold;
      font-size: 1.2em;
    }
    
    .country-info {
      margin-top: 10px;
    }
    .flag-img{
      width: 255px;
      padding-bottom: 9px;
    }
    
    .info-detail{
      display: flex;
     padding-top: 40px;
      
      justify-content: space-around;
    }
    #flag-img{
      width: 40%;
    }
  #info{
    padding-top: 60px;
  }  
    .flex{
      display: flex;
      gap: 7px;
    }
    .sub-info{
      padding-top: 80px;
    }
    .button {
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.6px 2.6px 2.6px;  
      background-color: white;
      border: none;
  
    }
    button a{
      text-decoration: none;
      color: black;
    }
 
@media screen and (max-width: 1200px) { 
  .head{
    padding: 15px;
      display: flex;
      justify-content: space-around;
      border: none;
      font-family: 'Montserrat', sans-serif;
   font-weight: 700;
  }
  .text{    border: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  }
  body{
      margin: 0px;
  }
  .input-group {
    display: flex;
    margin-bottom: 15px;
    width: 40%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 2.6px 2.6px 2.6px;  
    height: 40px;

  }

  .filter{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 135px;
    height: 40px;
    padding: 7px;
    border-radius: 4px 4px 4px 4px;
    border: none;
  
  }

  .search{
    display: flex;
    justify-content: space-between;
    margin: 0px 30px 0px 30px;
    padding-top: 30px;
    
    }
    #country-grid {
      padding-top: 60px;
           display: flex;
           flex-wrap: wrap;
           justify-content: space-between;
         }
         
         .grid-container {
           width: calc(45% - 10px);
           margin-bottom: 20px;
           padding: 10px;
           border: 1px solid #ccc;
           border-radius: 5px;
           box-sizing: border-box;
         }
         
         .country-name {
           font-weight: bold;
           font-size: 1.2em;
         }
         .flag-img{
          width: 130px;
          padding-bottom: 9px;
        }
}
@media screen and (max-width: 700px) { 
  
  .info-detail{
    display: flex;
   padding: 40px;
flex-direction: column;

  }
      #flag-img{
      width: 70%;
    }
    .grid-container {
      width: calc(45% - 10px);
      margin-bottom: 20px;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-sizing: border-box;
    }
    
}